my_repro_0908/my_repro_ckpts
my_repro_0908/my_long_corpus_repro_data
my_repro_0908/my_red_pajama_10k_mistral
*.log
my_phi3_trials_0910/ckpts
my_starcoder_trials_0918/ckpts
my_starcoder_trials_0918/cache
my_starcoder_trials_0918/data
my_long_corpus_4_mistral_trials_0910
my_long_corpus_4_phi3_trials_0910
my_red_pajama_4_phi31_trials_0916

__pycache__
*.so
build
.coverage_*
*.egg-info

apex/*
.idea/*
checkpoints/*
hidden/*

**.swp
**.swo
dist/
megatron/data/helpers

docs/_build/
docs/api/megatron/
