weights_conversion
my_long_corpus_mistral
my_long_corpus_llama2
my_long_context_eval_passkey_llama2/
my_long_context_eval_passkey_mistral/
output_*.log
drugsCom*


__pycache__
*.so
build
.coverage_*
*.egg-info

apex/*
.idea/*
checkpoints/*
hidden/*

**.swp
**.swo
dist/
megatron/data/helpers

docs/_build/
docs/api/megatron/
